*.pyc
build/*
devel/*

.DS_Store
.vscode
venv/
images/
keras/out/

doku/KIS_ROB_Abgabe.aux
doku/KIS_ROB_Abgabe.log
doku/KIS_ROB_Abgabe.pdf
doku/KIS_ROB_Abgabe.synctex.gz
doku/KIS_ROB_Abgabe.fdb_latexmk
doku/KIS_ROB_Abgabe.toc
doku/KIS_ROB_Abgabe.xdv
doku/KIS_ROB_Abgabe.fls
doku/__latexindent_temp.tex
