<launch>
    
  <include file="$(find i2cpwm_board)/launch/i2cpwm_node.launch"/>
  
  <node pkg="rosserial_python" type="serial_node.py" name="serial_node">
  <param name="port" value="/dev/ttyACM0"/>
  <param name="baud" value="115200"/>
  </node>
  #high level controll
  <node pkg="high_level" name="High_level_AI_control" type="high_level_controll.py" output="screen">
  </node>
  #take picture
  <node pkg="send_image" name="image_transport_node" type="compress_send.py" >
  </node>
  <node pkg="donkey_car" name="low_level_control_node" type="low_level_control.py">
  </node>


</launch>
